:root{
  --bg:#f2f4f7;
  --card:#ffffff;
  --accent:#0b6b8a;
  --muted:#6b7280;
  --border:rgba(0,0,0,0.08);
  --danger:#d9534f;
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family:Inter, system-ui, sans-serif;
  background:var(--bg);
  padding:18px;
  display:flex;
  justify-content:center;
  color:#0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  margin: 2rem;
  gap: 8rem;
}

header a {
  font-size: 3rem;
  font-weight: 800;
  color: #0b6b8a;
  text-decoration: none;
}

header a:visited {
  color: #0455be;
}

header img {
  max-width: 10rem;
}

.container { 
  width:100%; 
  max-width:480px; 
  display:flex; 
  flex-direction:column; 
  gap:18px 
}

.title { 
  margin: 1.3rem; 
  font-size: 2.3rem; 
  text-align: center; 
}

.subtitle { 
  text-align:center; 
  color:var(--muted); 
  font-size:14px; 
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:var(--card);
  gap: 1.5rem;
  padding:2rem;
  border-radius:14px;
  border:1px solid var(--border);
  box-shadow:0 4px 12px rgb(0 0 0 / 0.05);
}

.tituloCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 90%;
  font-size: 1.7rem;
  font-weight: 600;
  color: #222222; 
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 400; 
  font-size: 3.3rem;
  color: #1839a7;
}

.group-title {
  font-size:28px;
  font-weight:700;
}

.call-btn{
  width:100%;
  height: 7rem;
  background:#0455be;
  color:white;
  padding:15px;
  border:none;
  font-size:2rem;
  font-weight:700;
  border-radius:10px;
  cursor:pointer;
  margin-bottom:10px;
}
.call-btn:last-child{ margin-bottom:0 }

.call-btn:active{ opacity:0.8 }

.error{
  background:var(--danger);
  color:white;
  padding:10px;
  border-radius:8px;
  text-align:center;
  font-weight:700;
}

.hidden{ display:none !important }

.footer{
  font-size:12px;
  color:var(--muted);
  text-align:center;
  padding:6px;
}
