:root {
    --bg: #eef2f7;
    --card-bg: #ffffff;
    --primary: #0e4fdb; /* Verde estilo WhatsApp para familiaridade */
    --text: #333;
    --muted: #777;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family:Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: var(--bg);
    display: flex;
    justify-content: center;
    padding: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 3rem auto;
}

header a {
  font-size: 3rem;
  font-weight: 800;
  color: #0e4fdb;
  text-decoration: none;
}

header a:visited {
  color: #0455be;
}

header img {
  max-width: 10rem;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 { font-size: 2rem; color:black; margin-bottom: 2rem; }
.subtitle { font-size: 14px; color: var(--muted); margin-bottom: 20px; }

/* ESTILO DO CARTÃO VISUAL */
.business-card {
    background: var(--card-bg);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: 0.3s;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--bg);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.user-icon {
    font-size: 30px;
    background: #f0f0f0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}

.card-title {
    font-weight: bold;
    color: var(--muted);
    font-size: 1rem;
    letter-spacing: 1px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    font-size: 1rem;
    color: var(--primary);
    font-weight: bold;
    text-transform: uppercase;
}

.input-field input {
    width: 100%;
    border: none;
    border-bottom: 1px dashed #ccc;
    padding: 8px 0;
    font-size: 18px;
    color: var(--text);
    outline: none;
    background: transparent;
}

.input-field input:focus {
    border-bottom: 1px solid var(--primary);
}

/* QR CODE DENTRO DO CARTÃO */
.qr-result {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.qr-instruction {
    font-size: 12px;
    color: var(--muted);
    margin-top: 8px;
}

/* BOTÕES */
.actions button {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
}

.btn-primary { background: var(--primary); color: white; }
.btn-success { background: #9b9c9e; color: white; }
.btn-secondary { background: #e9ecef; color: #333; }
.btn-link { background: none; color: #888; text-decoration: none; font-size: 13px; }

.hidden { display: none; }
.erro { color: #d9534f; font-weight: bold; margin-bottom: 10px; }
