:root{
    --bg:#f2f2f2;
    --card:#ffffff;
    --accent:#0077ff;
    --text:#1a1a1a;
    --muted:#777;
}

body{
    margin:0;
    background:var(--bg);
    font-family:Inter, sans-serif;
    padding:20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 3rem auto;
}

header a {
  font-size: 3rem;
  font-weight: 800;
  color: #0b6b8a;
  text-decoration: none;
}

header a:visited {
  color: #0455be;
}

header img {
  max-width: 10rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:var(--card);
    border-radius:14px;
    padding:20px;
    max-width:480px;
    margin:auto;
    box-shadow:0 4px 20px rgba(0,0,0,0.1);
}

h1{
    margin:0;
    font-size:2rem;
    color:var(--text);
    margin-bottom: 0.2rem;
}

.subtitle{
    color:var(--muted);
    font-size:1.5rem;
    text-align: center;
}

.btn-primary{
    width:100%;
    background:rgb(6, 115, 216);
    color:white;
    padding:14px;
    border:none;
    border-radius:10px;
    font-size:2rem;
    cursor:pointer;
}

.btn-secondary{
    width:100%;
    background:#e6e6e6;
    color:#333;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-top:10px;
    font-size:15px;
    cursor:pointer;
}

.camera-area{
    margin-top:20px;
}

.hidden{
    display:none !important;
}

video{
    width:100%;
    border-radius:10px;
    background:black;
}

.controls{
    margin-top:14px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.zoom-box{
    display:flex;
    flex-direction:column;
    gap:4px;
}

.zoom-box label{
    color:var(--text);
    font-size:14px;
}
