:root{
  --bg:#0b1220; 
  --card:#071426; 
  --accent:#0d54be; 
  --muted:#9fb0bf;
}

body{
  margin:0;
  font-family: 'Inter', sans-serif;
  color:#e8f7fb;
  padding:22px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 3rem auto;
}

header a {
  font-size: 3rem;
  font-weight: 800;
  color: #0b6b8a;
  text-decoration: none;
}

header a:visited {
  color: #0455be;
}

header img {
  max-width: 10rem;
}

.container{
  max-width:480px;
  margin:auto;
}

h1{
  margin:0 0 6px;
  font-size:2rem;
  color: black;
}

.subtitle{
  color:var(--muted);
  font-size:1.3rem;
  margin-bottom:2rem;
  color: black;
}

.card{
  width: 90%;
  margin-top: 4rem;
  margin-bottom:1rem;
}

label{
  display:block;
  margin:10px 0 4px;
  font-size:1.6rem;
  color: black;
}

input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid rgba(255,255,255,0.05);
  background:rgba(255,255,255,0.02);
  color:#080808;
  font-size:1.4rem;
  margin-bottom: 2rem;
}

.btn{
  width:100%;
  background:var(--accent);
  padding:12px;
  border:none;
  border-radius:10px;
  margin-top:16px;
  font-weight:600;
  font-size:2rem;
  color:#022029;
  cursor:pointer;
}

.btn.small{
  margin-top:10px;
  font-size:1rem;
  padding:10px;
}

.toggle-row{
  display:flex;
  gap:10px;
  margin-top:1rem;
  margin-bottom: 4rem;
}

.toggle-btn{
  flex:1;
  padding:10px 0;
  border-radius:8px;
  border:1px solid var(--accent);
  background:var(--accent);
  color:#022029;
  font-weight:600;
  cursor:pointer;
  font-size: 2rem;
}

.toggle-btn.off{
  background:transparent;
  color:var(--muted);
}

.erro{
  color:#ff6b6b;
  margin-top:10px;
  font-size:13px;
}

.result-label{
  font-size:13px;
  color:var(--muted);
  margin-top:12px;
}

.result{
  background:#021a21;
  padding:12px;
  border-radius:8px;
  font-size:20px;
  font-weight:600;
  margin-top:4px;
}

.copiado{
  font-size:12px;
  margin-top:8px;
  color:var(--accent);
  display:none;
  text-align:center;
}
