body {
    font-family: 'Inter', sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 2rem auto;
}

header a {
  font-size: 3rem;
  font-weight: 800;
  color: #0b6b8a;
  text-decoration: none;
}

header a:visited {
  color: #0455be;
}

header img {
  max-width: 10rem;
}

.container {
    max-width: 85%;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

label {
    font-weight: bold;
    margin-top: 1.7rem;
    display: block;
    font-size: 1.4rem;
}

input[type="text"] {
    width: 95%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.3rem;
}

.checkbox-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.checkbox-row input[type="checkbox"] {
    transform: scale(1.8); /* Tamanho bem visível */
    cursor: pointer;
    margin-left: 5px; /* Pequeno ajuste de respiro lateral se necessário */
}

.checkbox-row label {
    margin: 0 0 0 8px;
}

button {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover {
    background: #0066d3;
}

.secondary-btn {
    background: #444;
}

.secondary-btn:hover {
    background: #222;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}

.qr-box {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.info-text {
    margin-top: 15px;
    font-size: 14px;
}
