* {
    margin: 0.1rem;
    padding: 0.1rem;
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    background-color:  #f0f0f0;
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}


#home-hub {
    padding: 24px 16px;
    max-width: 700px; 
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


#home-hub img {
    max-width: 20rem;
    margin-bottom: 1.6rem;
}

#home-hub p {
    display: inline-block;
    max-width: 20rem;
    font-size: 30px;
    line-height: 1.1;
    color: rgb(70, 69, 69);
}

.lista-ferramentas {
    list-style: none; 
    display: flex;
    flex-direction: column;
    gap: 16px; 
    max-width: 90%; 
    margin: 0 auto;
    border: #000000;
}


.item-ferramenta {
    border-radius: 8px;
    overflow: hidden;
    background-color: #faf9f9;
    padding: 1.3rem;
    border: 1px solid #9d9d9e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.botao-ferramenta {
    display: flex;
    flex-direction: row; 
    gap: 1.4rem;
    justify-content: flex-start; 
    align-items: center;
    text-align: left;
    background-color: transparent; 
    border: none; 
    width: 100%; 
    min-height: 72px;
    padding: 16px 24px; 
    font-size: 22px;
    font-weight: 700; 
    color: #000000;
    text-decoration: none;
}

.item-ferramenta:hover,
.item-ferramenta:focus-within {
    transform: translateY(-5px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
    background-color: rgba(0, 80, 161, 0.05);
}

.nome-ferramenta {
    max-width: 90%;
    font-size: 1.6rem;
    color: #222222; 
}


.material-symbols-outlined {
  font-variation-settings: 'wght' 400; 
  font-size: 2.9rem;
  color: #072b61;
}
